<h2> Individual Party Details </h2>

<%= @party.name %> - 
<%= @party.size %>

<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Party">
</form>


<form action="/orders" method="post">
	<select name="food[id]">
		<% @foods.each do |food| %>
			<option value="<%= food.id %>"><%= food.name %></option>
		<%end%>
	</select>
	<input type="hidden" name="party[id]" value="<%=@party.id%>">
	<input type="submit" value="new order">
</form>

<form action="/orders/:id">
	<ul>
		<% @party.foods.each do |food| %>
			<li>
				<%= food.name %>
				<%= food.price %>
				<input type="radio" name="free">No charge?
			</li>
		<%end%>
	</ul>
<input type="submit" value="Price Change">
</form>

<form action="/parties/<%= @party.id %>" method="post">
	<input type="submit" value="View Receipt">
</form>